@charset "utf-8";

body{
    color: #000;
}

.container{
    max-width: 140rem;
    width: 100%;
}

#footer{
    display: block;
    padding: 3.2rem 0;
    background: #000;
    color: #fff;
}
#footer .container{
    margin: 0 auto;
}
#footer .flogo{
    display: block;
    margin-bottom: 3.2rem;
    text-transform: uppercase;
    font-size: 3.2rem;
    font-weight: 700;
}
#footer .address strong{
    display: inline-block;
    margin-right: 3.2rem;
    font-weight: 700;
}
#footer .copy{
    display: block;
    margin-top: 3.2rem;
    padding-top: 3.2rem;
    border-top: 1px #fff solid;
    text-transform: uppercase;
    text-align: right;
}


@media screen and (max-width: 1024px) { 
    
}

@media screen and (max-width: 768px) { 
}

